<svg
  class="align-middle"
  xmlns="http://www.w3.org/2000/svg"
  width="25"
  height="25"
  fill="white"
  class="bi bi-egg-fill"
  viewBox="0 0 16 16"
>
  <path d="M14 10a6 6 0 0 1-12 0C2 5.686 5 0 8 0s6 5.686 6 10z" />
</svg>
<span class="align-middle text-light">
  Oka katalede uy bormi? <span class="text-warning">Tuxum</span> Bor Ukam! 😅
</span>
